.aboutBanner {
  width: 100%;
  height: 50vh;
  background: url("https://static.vecteezy.com/system/resources/thumbnails/011/545/805/small_2x/abstract-luxury-glowing-lines-curved-overlapping-on-dark-blue-background-template-premium-award-design-free-vector.jpg");
  background-size: cover;
  background-position: center;
}
.about-us {
  font-size: 2rem;
  color: white;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding-top: 10rem;
  font-family: "Dancing Script", serif;
}
.aboutBanner p
{
    color: white;
    text-align: center;
}
