.footer_container {
  width: 100%;
  min-height: 50vh;
  /* background-color:var(--darkblue); */
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/011/545/805/small_2x/abstract-luxury-glowing-lines-curved-overlapping-on-dark-blue-background-template-premium-award-design-free-vector.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
gap: 2rem;
}
.mech {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
.fusion {
  color: var(--gray);
}
.engineeringSolution {
  color: var(--gray);
  padding-left: 7.3rem;

  font-size: 0.55rem;
}

.footer-column {
  width: 100%;

  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 13.5rem; */

  /* flex-direction: column; */
}
.footerthree-icons {
  display: flex;
  gap: 1.1rem;
  color: white;
}
.keen p {
  color: white;
}
.footer-icons {
  color: var(--orange);
  font-size: 1.2rem;
}
.keen {
  width: 17rem;
  display: flex;
  flex-direction: column;
  /* gap: 1.8rem; */
}
.keen img {
  width: 6rem;
}
.office {
  color: white;
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 1rem; */
}
.office h3 {
  color: var(--orange);
}
.footer-mail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer-list {
  color: white;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 0;
}
.menu {
  color: white;
}
.last-border {
  width: 90%;
  height: 1px;
  background-color: var(--orange);
  /* border-top: 1rem solid gray; */
  /* display: flex; */
  /* margin-bottom: 7rem; */
}
@media (max-width: 768px) {
  .footer-column {
    flex-direction: column;
    gap: 0;
    /* align-items: start; */
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .footer_container {
    min-height: 60vh;
    text-align: center;
  }
  .footer-list {
    justify-content: center;
    align-items: center;
  }
  .keen,
  .office {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .office{
    display:none;
  }
  .footer-servicelist
  {
    display: none;
  }
}
