.missionAndvision-Container {
  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

}
.mission-content p {
  width: 38rem;
}
.ourMissionn {
  color: var(--darkblue);
  font-size: 2rem;
  font-weight: 700;
  font-family: "Dancing Script", serif;
}
.mission-ul {
  width: 35rem;
}
.mission-image {
  width: 20rem;
  height: 15rem;
  border-radius: .5rem;
}
.mission-container {
  display: flex;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  width: 75rem;
  height: 20rem;
  background-color: var(--lightgray);
  /* margin-left: 10rem; */
  border-radius: .5rem;
}
@media (max-width: 768px) {
  .mission-container {
    flex-direction: column;
  }
  .mission-image {
    /* width: 17rem;
    height: 17rem; */
    display: none;
  }
  .mission-container
  {
      width: 96%;
      height: 28rem;
      /* margin-left: 0 */
  }
  .mission-content p {
    width: 94%;
    text-align: center;
  }
  .mission-ul {
    width: 85%;
  }
  .missionAndvision-Container
  {
    /* min-height:140vh; */
  }
 .ourMissionn
 {
  text-align: center;
 }
}
