.missionAndvision-Container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.mission-content p {
  width: 38rem;
}
.ourMissionn {
  color: var(--darkblue);
  font-size: 2rem;
  font-weight: 700;
  font-family: "Dancing Script", serif;
}
.mission-ul {
  width: 35rem;
}
.mission-image {
  width: 20rem;
  height: 15rem;
  border-radius: .5rem;
}
.mission-container {
  display: flex;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  width: 75rem;
  height: 20rem;
  background-color: var(--lightgray);
  margin-left: 10rem;
  border-radius: .5rem;
}
@media (max-width: 768px) {
  .mission-container {
    flex-direction: column;
  }
  .mission-image {
    width: 17rem;
    height: 17rem;
  }
  .mission-content p {
    width: 17rem;
  }
  .mission-ul {
    width: 15rem;
  }
  .missionAndvision-Container
  {
    height: 250vh;
  }
}
